.account-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.account-form {
    display:flex;
    flex-direction:column;
}
.account-form>button {
    margin-top:20px;
}