$background:#F7F8FA;
$grey1:#5A5656;
$grey2: #DDDDDD;
$grey3: #828282;
$rose: #FDA0EE;
$rose2: rgb(252, 229, 248);
$red: #fa9999;

.approach-container {
    display:flex;
    flex-direction:column;
}
.approach-table {
    margin: 0 0 20px 0;
}
.approach-table td {
    border: 1px solid $grey2;
    color:$grey1;
    padding: 5px 10px 5px 10px;
    min-height:45px;
}
.operations-cell {
    border:none !important;
}
.approach-miniature {
    width:50px;
    height:50px;
}
.add-approach-tip-form {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.add-approach-tip-form>* {
    margin: 0 0 10px 0;
}
.add-approach-tip-form>label {
    margin:0;
    text-align:left;
}