$background:#F7F8FA;
$grey1:#5A5656;
$grey2: #DDDDDD;
$grey3: #828282;
$rose: #FDA0EE;
$rose2: rgb(252, 229, 248);
$red: #fa9999;
.guests-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.guests-table td {
    border: 1px solid $grey2;
    color:$grey1;
    padding: 5px 10px 5px 10px;
    min-height:45px;
}
.guests-table>thead {
    font-weight:bold;
}
.center {
    text-align:center;
}
.noborder {
    border-style:none;
}
.hideOnMobile {
    display:none;
    @media(min-width:530px) {
        display:table-cell;
    }
}
.operations-cell {
    border:none !important;
}
.addGuest-form {
    margin: 40px 0 0 0;
    display:flex;
    flex-direction:column;
}
.addGuest-form>input, .addGuest-form>select {
    margin-bottom:20px;
}