$background:#F7F8FA;
$grey1:#5A5656;
$grey2: #DDDDDD;
$grey3: #828282;
$rose: #FDA0EE;

header {
    text-align:center;
    margin: 20px 0 20px 0;
    flex:2;
    h1 {
        font-family:'Parisienne', cursive;
        font-size: 35px;
        font-weight:normal;
    }
}