$background:#F7F8FA;
$grey1:#5A5656;
$grey2: #DDDDDD;
$grey3: #828282;
$rose: #FDA0EE;

main {
    width: 100%;
    border-top:1px solid $grey2;
    border-bottom:1px solid $grey2;
    @media(min-width:600px) {
        width:80%;
        border:1px solid $grey2;
        border-radius:4px;
    }
    font-size:12px;
    background-color:#FFFFFF;
    opacity:0.90;
    flex:10;
    padding: 30px 20px 30px 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}